<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.archimatetool.editor.exportHandler">
      <exportHandler
            class="nz.co.cyma.integrations.archigitsync.plugin.modelexport.ModelVersioner"
            id="com.archimatetool.import_export_example.exportHandler"
            label="Version model...">
      </exportHandler>
   </extension>
   <extension
         point="com.archimatetool.editor.importHandler">
      <importHandler
            class="nz.co.cyma.integrations.archigitsync.plugin.modelimport.LocalRepositoryImport"
            id="nz.co.cyma.integrations.archigitsync.plugin.modelimport.LocalRepositoryImport"
            label="Import Versioned Model...">
      </importHandler>
   </extension>

</plugin>
